{% extends "layout.twig" %}

{% block js %}
<script src="/js/highstock.js"></script>
<script src="/js/Chart.js"></script>
<script src="/js/main.js"></script>

<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

<script>
  
function twoDigits(x) {
  return (x < 10) ? '0'+x : x;
}

function formatTime(date) {
  var h = date.getHours();
  var m = date.getMinutes();
  var s = date.getSeconds();
  h = twoDigits(h);
  m = twoDigits(m);
  s = twoDigits(s);
  return $.datepicker.formatDate('dd-mm', date)+' '+h+':'+m+':'+s;
}

function formatPercent(p) {
  p = (p*100 - 100).toFixed(2);
  return ((p > 0) ? '+' : '') + p + '%'; 
}

function showTransactionsOrMessage() {
  var row_num = $('#transactions tbody tr').length;
  if (row_num > 0) {
    $('#transactions table').show();
    $('#no-transactions-message').hide();
  }
  else {
    $('#transactions table').hide();
    $('#no-transactions-message').show();
  }
}

function appendTransactions(sim) {
  var transactions = [];
  var row_num = $('#transactions tbody tr').length;
  $.each (sim.data, function(i, row) {
    var date = new Date(row.timestamp * 1000);
    //does transaction go according to initial instrument
    var according = (row.instrument === sim.instrument);
    var perc_change = (according === false) ? formatPercent(row.perc_change) : '';
    var highlight = '';
    if (!according) {
      highlight = (perc_change[0] === '+') ? 'plus_highlight' : 'minus_highlight';
    }
    var tr = {
      'to' : row.instrument.substr(6,3),
      'rate' : row.rate,
      'message' : row.message,
      'time' : formatTime(date),
      'amount' : row.amount,
      'perc_change' : perc_change,
      'highlight' : highlight,
      'index': row_num+i+1
    };
    transactions.push(tr);
  });
  
  var t = $.tmpl($('#transactions-row-script').html(), transactions);
  $('#transactions tbody').append(t);
  
  $('#transactions').show();
  showTransactionsOrMessage();
  
  if (sim.status < 100)
    $('#calculating-message').show();
  else
    $('#calculating-message').hide();
}

/* this is called after executing Chart.showSimulation */
function displaySimulationDetails(sim, update) {
  
  if (update) {
    appendTransactions(sim);
  } else {
    $('#transactions tbody').empty();
    
    appendTransactions(sim);
    
    $('#chart-header').html(sim.name);

    $('#simulation-instrument').html(sim.instrument);
    
    $('#chart-instrument-select').hide();
    $('.sim-control').show();
    if (sim.type === 'offline') {
      $('#off-button').hide();
    }
    $('#simulations-list').find('li').removeClass('selected_simulation');
    $('#simulations-list .icon-white').removeClass('icon-white');
    $('#simulations-list [data-id='+sim.id+']')
            .parent().addClass('selected_simulation')
            .find('.icon-remove').addClass('icon-white');
  }
}

function displaySimulation(sim_id) {
  Chart.showSimulation(sim_id);
}

function displayChart() {
  Chart.init({
		el: $('#chart'),
		instrument: 'TRU{{instruments[0][0]}}{{instruments[0][1]}}',
    callback: displaySimulationDetails
	});
  
  $('#simulations-list').find('li').removeClass('selected_simulation');
  $('#simulations-list .icon-white').removeClass('icon-white');
  
  $('#transactions').hide();
  $('.sim-control').hide();
  $('#chart-instrument-select').show();
  
	$('#chart-header').html('TRU{{instruments[0][0]}}{{instruments[0][1]}}');
}

$(function() {
  
  /* CHART */
  
  $('#chart-instrument-select').on('change',function(){
		Chart.changeInstrument($(this).val());
		$('#chart-header').html($(this).val());
    $('#current-currency').html($(this).val().substr(3,3));
	});
  
  displayChart();
  
  /* NEW SIMULATION */
  
  $("#add-button").click(function() {
    $("#middle").addClass("expand");
    $("#simulations-container").hide();
    $("#simulation-creator").show();
	
    setTimeout(function() { Chart.redraw(); }, 400);

  });
  
  $("#back-button").click(function() {
    $("#middle").removeClass("expand");
    $("#simulation-creator").hide();
    $("#simulations-container").show();

    setTimeout(function() { Chart.redraw(); }, 400);

  });
  
  $(document).on('click','.show-simulation',function() {
    displaySimulation($(this).attr('data-id'));
  });
  
  $('#simulation-close').click(displayChart);
  
  $('#strategy-descriptions').children().hide();
  var current = $('#creator-strategy').val();
  $('#strategy-description-'+current+' :input').attr("required", "");
  $('#strategy-description-'+current).show();
    
  $('#creator-strategy').change(function(){
    $('#strategy-description-'+current).hide();
    $('#strategy-description-'+current+' :input').removeAttr("required");
    current = $(this).val();
    $('#strategy-description-'+current+' :input').attr("required", "");
    $('#strategy-description-'+current).show();
  });

  $("#creator-form").submit(function() {
    $('#creator-start').attr('disabled', 'disabled');
    
    var inst = $('#chart-instrument-select').val();
    var period = Chart.getPeriod();
    //user can't submit invalid period
    
    $.ajax({
      url: "/api/simulate/"+inst+"/"+period.min+"/"+period.max,
      type: "POST",
      data: $(this).serialize(),
			dataType: 'json',
			success: function(data) {
        if (data.status) {
			
        var sid = data.simulation_number;
				
				$.ajax({
					url: "/api/simulations",
					type: "GET",
					dataType: "json",
					success: function(data) {
						var tmp = $.tmpl($('#list-entry').html(),data);
						$('#simulations-list').html(tmp);			
						$('#back-button').trigger('click');
						$('#simulations-list [data-id='+sid+']').trigger('click');
					}
				});
				
				
				} else {
        	Alert.add(
						"Failed to add simulation: "+data.message,
						"error", 3);
				}
			}
		});
    $('#creator-start').removeAttr('disabled');
    return false;
  });
  
  $('#realtime-button').on('click',function() {
	$(this).toggleClass('active');
	if($(this).hasClass('active')) {
		Chart.toggleRealtime(1);
	} else {
		Chart.toggleRealtime(0);
	}
  });
  
   $(document).on('click','.icon-remove2',function() {
	 var sid = $(this).attr('data-id2');
	 
	 if (sid == Chart.getActiveSimulationId())
		 $('#simulation-close').trigger('click');
	 
     var $current = $(this);
	 
   	 $.ajax({
       url: "/api/remove_simulation/"+sid,
       type: "POST",
       data: $(this).serialize(),
       dataType: 'json',
       success: function(data) {
				if (data.status) {
          $current.closest('li').remove();
				} else {
					Alert.add(
						"Failed to remove simulation: "+data.message,
						"error", 3);
				}
			}
		});
  });
   
  $(document).on('click','#off-button',function() {
	$.ajax({
      url: "/api/simulation/stop/"+Chart.getActiveSimulationId(),
      type: "POST",
      data: $(this).serialize(),
			dataType: 'json',
			success: function(data) {
				if (data.status) {
				$.ajax({
					url: "/api/simulations",
					type: "GET",
					dataType: "json",
					success: function(data) {
						var tmp = $.tmpl($('#list-entry').html(),data);
						$('#simulations-list').html(tmp);
					}
				});
				$('#off-button').hide();
				} else {
					Alert.add(
						"Failed to stop simulation: "+data.message,
						"error", 3);
				}
			}
		});
  });
});
</script>
{% endblock %}


{% block content %}
<div id="chart-toolbar">
	<h1 id="chart-header"></h1>
	<div id="chart-controls" class="form-inline">
    <select id="chart-instrument-select">
			{% for inst in instruments %}
				<option value="TRU{{inst.0}}{{inst.1}}">{{inst.0}} - {{inst.1}}</option>
			{% endfor %}
		</select>
    <span id="simulation-instrument" class="sim-control input-small uneditable-input"></span>
    <button id="realtime-button" class="btn active">REALTIME</button>
    <button id="off-button" class="sim-control btn btn-warning"><i class="icon-off"></i></button>
    <button id="simulation-close" class="sim-control btn"><i class="icon-remove"></i></button>
	</div>
</div>
<div id="chart"></div>

<div id="transactions">
  <table class="table table-condensed table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Time</th>
        <th>Rate</th>
        <th colspan="2">Amount</th>
        <th>Profit</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
   
  <h4 id="no-transactions-message">No transactions.</h4>
  <span id="calculating-message">
    Subsequent transactions are calculating...
  </span>
</div>

{% endblock %}

{% block sidebar %}
<div id="simulations-container">
  <button id="add-button" class="btn btn-success">
    Add new simulation
  </button>
	<ul id="simulations-list">
	 {%for simulation in simulations %}
	 
	  <li><a href="#" class="show-simulation" data-id="{{simulation.id}}">
			  <h4>{{simulation.name | raw}}</h4></a>
			  {% if simulation.online %}
				<span class="badge badge-success">online</span>
			  {% endif %}
			  <div class="sim-instrument"></div>
			  <a href="#" class="icon-remove2" data-id2 = "{{simulation.id}}"></a>
	  </li>
	{% endfor %}
  </ul>
</div>

<div id="simulation-creator" style="display: none">
  <button id="back-button" class="btn btn-primary">
    Return
  </button>
          
  <form id="creator-form" class="form-horizontal" method="post">
		
    <div class="row-fluid">
      <h3 class="span11" style="text-align: center">New Simulation</h3>
      <div class="span5 offset1 well">
        <fieldset>
          <div class="form-inline">
            <label for="creator-name">Name</label>
            <input style="width: 160px" type="text" id="creator-name" name="creator-name" value="My simulation">
          </div>
          <p>
          <div class="form-inline">
            <label for="creator-amount">Amount</label>
            <input class="input-small" type="number" id="creator-amount" name="creator-amount" min="0" required>
            <span id="current-currency">{{instruments[0][0]}}</span>
          </div>
          <p>
        </fieldset>
      </div>
      <div class="span4 well">
        <fieldset>
          <p>
          Simulation type
          </p>
          <label class="radio">
            <input type="radio" name="creator-type" id="creator-online" value="online" checked>
            online
          </label>
          <label class="radio">
            <input type="radio" name="creator-type" id="creator-historical" value="historical">
            on historical data
          </label>
        </fieldset>
      </div>
      <p>
      <div id="strategy-well" class="span9 offset1 well">
        <fieldset>
          <legend>Strategy</legend>
          <select id="creator-strategy" name="creator-strategy">
            {% for str in strategy %}
            <option value="{{str.id}}">{{str.name}}</option>
            {% endfor %}
          </select>
        </fieldset>
        <p>
        <div id="strategy-descriptions">
          {% for str in strategy %}
          <div id="strategy-description-{{str.id}}">
            <div class="strategy-description">
                 {{str.description | raw}}
            <p>
              {% for param in str.parameters %}
              <div class="control-group">
                <label class="control-label" for="parametr-{{str.id}}-{{loop.index}}">{{param | raw}}</label>
                <div class="controls">
                  <input type="number" step="0.001" id="parametr-{{str.id}}-{{loop.index}}" name="parametr-{{str.id}}-{{loop.index}}" class="input-small">
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="span8 offset3">
        <div class="controls">
          <button type="reset" class="btn btn-large">Clear</button>
          <button type="submit" class="btn btn-success btn-large" id="creator-start">
            Start
          </button>
        </div>
      </div>
    </div>
	</form>
</div>

{% raw %}

<script id="transactions-row-script" type="text/x-tmpl"> 
  <tr>
    <td>${index}</td>
    <td>${time}</td>
    <td>${rate}</td>
    <td>${amount}</td>
    <td>${to}</td>
    <td class=${highlight}>${perc_change}</td>
    <td>${message}</td>
  </tr>
 </script>

<script id="list-entry" type="text/x-tmpl">
	 <li><a href="#" class="show-simulation" data-id="${id}">
			  <h4>${name}</h4></a>
			  {{if online == true }}
				<span class="badge badge-success">online</span>
			  {{/if}}
			  <div class="sim-instrument"></div>
			  <a href="#" class="icon-remove2" data-id2 = "${id}"></a>
	  </li>
</script>

{% endraw %}

{% endblock %}
