{% extends "layout-nosidebar.twig" %}

{% block content %}

<div class="hero-unit">
	<div class="row">
    <div class="span4">
      <h1>Increment.pl</h1>
      <h2>Automate your gain</h2>
    </div>
    <div class="offset5 span3">
      <a href="/register" class="btn btn-large btn-primary">Register</a>
      <a href="/login" class="btn btn-large btn-info">Login</a>
    </div>
  </div> 
      
  <div class="row">
    <div class="span6">
			<h3>Datailed forex rates</h3>
      <p>Our database is providing you with high-frequency updated rates of 7 financial instruments,
      including USD-EUR, PLN-EUR, PLN-CHF. Watch the on-going changes on foreign exchange market with our live charts.
      View historical rates with few-seconds precision!</p>
    </div>
		<div class="span6">
      <h3>Test your strategies</h3>
      <p>Practice trading and test out different trading strategies before risking real money - ascertain whether your ideas are working.</p>
			<p>Increment gives you an ability to test your strategies on historical data or even online. Just select algorithm, set it up and see if it brings a profit.</p>
		</div>
    <div class="span8">
      <h3>Manage your simulations</h3>
      <p>Once you create and launch simulation, you can return to it whenever you want.
          Check which strategies where most profitable. Manage your finished simulations
          and create new ones!</p>
    </div>
    <div class="span4">
      <h3>Join now!</h3>
      <p>Create your account - it lasts few seconds and it's entirely free of charge. </p>
    </div>
  </div>
</div>

{% endblock %}
