{% extends "layout-nosidebar.twig" %}

{% block js %}
<script>
{% if wrong %}
$(document).ready(function(){
	Alert.add("Wrong mail or password. Try again.", "error");
})
{% endif %}
</script>
{% endblock %}

{% block content %}

<div class="container">

	<a href="/" class="btn btn-medium btn-success">
		<i class="icon-arrow-left icon-white"></i> Back
	</a>
	
	<h3>Login</h3>
	
	<form id="loginForm" class="form-horizontal" 
		method="post" action="/login">
		
		<div class="control-group">
			<label class="control-label" for="mail">E-mail</label>
			<div class="controls">
				<input type="text" id="mail" name="mail">
				<span class="help-inline"></span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input type="password" id="password" name="password">
				<span class="help-inline"></span>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Login</button>
			</div>
		</div>
	</form>

</div>

{% endblock %}
