{% extends "layout-nosidebar.twig" %}

{% block js %}
<script src="/js/jquery.validate.min.js"></script>
<script>
$(document).ready(function(){

	var validator = $('#changePasswordForm').validate(
	{
	rules: {
		old_pass: {
			required: true,
			remote: {
				type: 'post',
				url: "api/check_password/",
				dataType: 'json'
			}
		},
		pass1: {
			required: true,
			minlength: 8
		},
		pass2: {
			required: true,
			equalTo: "#pass1"
		}
	},
	messages: {
		old_pass: {
			required: "Please type your current password",
			remote: "Wrong password"
		},
		pass1 : {
			required: "Please type new password",
			minlength: jQuery.format("Please type a password at least {0} characters long"),
		},
		pass2: {
			required: "Please type new password again",
			equalTo: "Passwords do not match",
		},
	},
	highlight: function(element) {
		$(element).closest('.control-group')
		.removeClass('success').addClass('error');
	},
	success: function(element) {
		element
		.addClass('valid')
		.closest('.control-group').
		removeClass('error').addClass('success');
	},
	submitHandler: function() {
		var old_pass = $('#old_pass').val();
		var pass = $('#pass1').val();
		$.ajax({
			url: "api/change_password/"+old_pass+"/"+pass,
			dataType: 'json',
			success: function(data) {
				$("#changePassModal").modal("hide");
				if (data) {
					Alert.add("Password changed successfully", "success", 4);
				} else {
					Alert.add(
						"Something went wrong - system failed to change password",
						"error",
						4
					);
				}
			}
		});
	}
	});
	
	// clearing and reseting dialog after closing
	
	$('#changePassModal').on('hidden', function() {
		$(this).find(':input').val('');
		$(this).find('.control-group')
		.removeClass('error').removeClass('success');
		validator.resetForm();
	});

});

</script>
{% endblock %}

{% block content %}

<div class="container">

	<a href="\" class="btn btn-medium btn-success">
		<i class="icon-arrow-left icon-white"></i> Back
	</a>
	
	<h3>Profile</h3>
	
	<div class="row">
		<div class="span2">
			<img src="{{ avatar_src }}?s=250" class="img-polaroid">
		</div>
		<div class="span4">
			<div class="control-group">
				<div class="controls controls-row">
					<label class="control-label span1">Name</label>
					<strong class="span2">{{ user.name }}</strong>
				</div>
				<div class="controls controls-row">
					<label class="control-label span1">Surname</label>
					<strong class="span2">{{ user.surname }}</strong>
				</div>
				<div class="controls controls-row">
					<label class="control-label span1">E-mail</label>
					<strong class="span2">{{ user.mail }}</strong>
				</div>
				<div class="controls controls-row">
					<p>
				</div>
				<div class="controls controls-row">
					<a href="#changePassModal" class="btn span2" type="button" data-toggle="modal">
						<i class="icon-edit"></i>
						 Change password
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="changePassModal" class="modal hide fade" tabindex="-1" 
		role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="modalLabel">Password change</h3>
		</div>
		<div class="modal-body">
			<form id="changePasswordForm" class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="old_pass">Current password</label>
					<div class="controls">
						<input type="password" id="old_pass" name="old_pass">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="pass1">New password</label>
					<div class="controls">
						<input type="password" id="pass1" name="pass1">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="pass2">Confirm password</label>
					<div class="controls">
						<input type="password" id="pass2" name="pass2">
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="cancel" class="btn" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn">Change</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</div>

{% endblock %}
