{% extends "layout-nosidebar.twig" %}

{% block js %}
<script src="/js/jquery.validate.min.js"></script>
	<script>
	$(document).ready(function(){
	
	{% if errno[0] != -1 %}
		{% if errno[0] == 0 %}
			$("#successModal").modal("show");
		{% else %}
			{% for err in errno[1] %}
				Alert.add("{{err[0]}}", "{{err[1]}}");
			{% endfor %}
			
			$("#name").val("{{ name }}");
			$("#surname").val("{{ surname }}");
			$("#email").val("{{ mail }}");
		{% endif %}
	{% endif %}
	
	$('#registrationForm').validate(
	{
		rules: {
			name: {
				required: true,
			},
			surname: {
				required: true,
			},
			email: {
				required: true,
				email: true
			},
			pass1: {
				required: true,
				minlength: 8,
			},
			pass2: {
				required: true,
				equalTo: "#pass1",
			},
		},
		messages: {
			name: {
				required: "Please specify your name",
			},
			surname: {
				required: "Please specify your surname",
			},
			email: {
				required: "Please type your e-mail",
				email: "Your email address must be in the format of name@domain.com",
			},
			pass1: {
				required: "Please type your password",
				minlength: jQuery.format("Please type a password at least {0} characters long"),
			},
			pass2: {
				required: "Please type your password again",
				equalTo: "Passwords do not match",
			},
		},
		highlight: function(element) {
			$(element).closest('.control-group').removeClass('success').addClass('error');
		},
		success: function(element) {
			element
			.addClass('valid')
			.closest('.control-group').removeClass('error').addClass('success');
		},
		errorPlacement: function(error, element) {
			error.appendTo( element.siblings(".help-inline") );
		},
	});
});

</script>
{% endblock %}

{% block content %}

<div class="container">

	<a href="\" class="btn btn-medium btn-success">
		<i class="icon-arrow-left icon-white"></i> Back
	</a>
	
	<h3>Register</h3>
	
	<form id="registrationForm" class="form-horizontal" method="post">
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input type="text" id="name" name="name">
				<span class="help-inline"></span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="surname">Surname</label>
			<div class="controls">
				<input type="text" id="surname" name="surname">
				<span class="help-inline"></span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="email">E-mail</label>
			<div class="controls">
				<input type="text" id="email" name="email">
				<span class="help-inline"></span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="pass1">Password</label>
			<div class="controls">
				<input type="password" id="pass1" name="pass1">
				<span class="help-inline"></span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="pass2">Confirm password</label>
			<div class="controls">
				<input type="password" id="pass2" name="pass2">
				<span class="help-inline"></span>
			</div>
		</div>
		
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Register</button>
			</div>
		</div>
	</form>


	<div id="successModal" class="modal hide fade" tabindex="-1" 
		role="dialog" aria-labelledby="modalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false" >
		<div class="modal-header">
			<h3 id="modalLabel">Account created</h3>
		</div>
		<div class="modal-body">
			You may now log in.
		</div>
		<div class="modal-footer">  
			<a href="\login" class="btn btn-success">Continue</a>
		</div>
	</div>

</div>

{% endblock %}
