html,body {
	width: 100%;
	height: 100%;
	font-family: 'PT Sans';
}


#all {
	width: 100%;
	height: 100%;
	overflow: visible;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 50px 0 30px 0;
}

#middle {
	width: 100%;
	height: 100%;
	clear: both;
	overflow: auto;
}

#middle > div {
	-webkit-transition: width 0.3s linear;
	-moz-transition: width 0.3s linear;
}

#content {
	float: left;
	width: 70%;
	height: 100%;
	clear: both;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 20px 10px;
}

#content.fullwidth {
	width: 100%;
}

#sidebar {
	float: left;
	width: 30%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 20px 10px;
	height: 100%;
	overflow-y: scroll;
}

footer {
	text-align: center;
	font-size: 80%;
	padding-top: 5px;
}

.expand #content {
	width: 50%;
}

.expand #sidebar {
	width: 50%;
}

#chart > div {
	margin: 0 auto;
	-webkit-transition: width 0.2s linear;
	-moz-transition: width 0.2s linear;
}

#chart-toolbar {
	position: relative;
}

#chart-controls {
	position: absolute;
	right: 0; bottom: 0;
}

/*
#chart {
	min-width: 400px;
	min-height: 150px;
	margin-bottom: 1em;
	overflow: hidden;
	clear: both;
	text-align: center;
}

#chart div {
	margin: 0 auto;

	-webkit-transition: width 0.250s linear;
	-moz-transition: width 0.250s linear;
	transition: width 0.250s linear;
}
*/

.strategy-description {
  text-align: justify;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  height: 150px;
	overflow-y: scroll;
}

#add-button {
	margin-bottom: 20px;
}

#simulations-list {
	clear: both;
	overflow: auto;
	padding: 0;
	margin: 0;
}

#simulations-list li {
	clear: both;
	overflow: auto;
	position: relative;
	background: #DDD;
	margin: 0;
	padding: 10px;
}

#simulations-list li a {
	color: #000;
}

#simulations-list h4 {
	margin-top: 0;
}

#simulations-list .badge {
	position: absolute;
	top: 10px; right: 30px;
}

#simulations-list li:nth-child(2n) {
	background: #EEE;
}

#simulations-list li.selected_simulation {
  background: #666;
}
#simulations-list li.selected_simulation a {
	color: #FFF;
}

#simulations-list .icon-remove {
	position: absolute;
	top: 10px; right: 10px;
}

#simulations-list .icon-remove2 {
	position: absolute;
	top: 10px; right: 10px;
}

#transactions thead {
  background: #DAE8E9;
}

#transactions tbody tr:nth-child(2n) {
	background: #EEE;
}

#transactions tbody tr:hover {
  background: #E8FAFB;
}

#transactions .plus_highlight {
  background: #ACFC81;
}

#transactions .minus_highlight {
  background: #EAA2A2;
}
