<!DOCTYPE html>
<html>
	<head>
		<title>Increment.pl</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css" />
		<link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
	</head>
	<body>
		<div id="all">
			
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="brand" href="/">Increment.pl</a>
						<div class="nav-collapse collapse">
							<ul class="nav pull-right">
								{% if logged %}
								<li><a href="/profile">{{ user.name }} {{ user.surname }}</a></li>
								<li><a href="/api/logout">Logout</a></li>
								{% else %}
								<li><a href="/login">Login</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div id="middle">
				{% block middle %}
				<div id="content">
					<div id="alerts-container"></div>
					{% block content %}
					{% endblock %}
				</div>
				<div id="sidebar">
					{% block sidebar %}
					{% endblock %}
				</div>
				{% endblock %}
			</div>
			<footer>&copy; by Increment.pl team. 2013</footer>
		</div>
			
		
		<!-- JavaScripts -->
		<script src="/js/jquery-1.9.1.js"></script>
		<script src="/js/jquery.tmpl.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/Alert.js"></script>
		{% block js %}
		{% endblock %}
		
		{% raw %}
		<script id="alert-element" type="text/x-tmpl">
			<div class="alert alert-${type} hide">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				${message}
			</div>
		</script>
		{% endraw %}
	</body>
</html>
